#root {
	/* max-width: 1280px; */
	/* height: 100vh; */
	margin: auto;
	/* padding: 2rem; */
	text-align: center;
}


.actual-calendar {
	margin: auto;
  width: 100%;
}

.calendar-container {
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.fc-day-today {
	background-color: inherit !important;
}

.fc-timegrid-axis,
colgroup,
.fc-timegrid-slot-label {
	display: none !important;
}

.fc td,
.fc th {
	border-style: none !important;
}

.fc-theme-standard .fc-scrollgrid {
	border-style: none !important;
}

/**/
/* .fc-timegrid-col .fc-timegrid-col-frame { */
/* 	margin: 0 0.5rem; */
/* } */

.fc-timegrid-event .fc-event-main {
	padding: var(--inner-padding);
	font-size: var(--event-font-size);
	color: #1a1a19;
  margin: 0 1%;
}

.fc-timegrid-event-harness-inset {
	margin: var(--outer-margin);
  opacity: var(--event-opacity);
}

.fc-event-time,
.fc-event-title {
	text-align: var(--event-text-alignment);
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: none !important;
}

.event-main-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.event-text {
  display: flex;
  flex-direction: column;
  /* max-height: 100%; */
  overflow: hidden;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  height: max-content;
}

.event-start-time, .event-end-time {
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  max-height: 100%;
}

.event-end-time {
  place-self: flex-end;
}
