#root {
	/* max-width: 1280px; */
	/* height: 100vh; */
	margin: auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

/* .card {
  padding: 2em;
} */

/* .actual-calendar { */
/*   height: 1000px; */
/* } */

/* .read-the-docs { */
/*   color: #888; */
/* } */

.actual-calendar {
	margin: auto;
}

.calendar-container {
  height: 100vh;
  width: 100vw;
}

.fc-day-today {
	background-color: inherit !important;
}

.fc-timegrid-axis,
colgroup,
.fc-timegrid-slot-label {
	display: none !important;
}

.fc td,
.fc th {
	border-style: none !important;
}

.fc-theme-standard .fc-scrollgrid {
	border-style: none !important;
}

/**/
/* .fc-timegrid-col .fc-timegrid-col-frame { */
/* 	margin: 0 0.5rem; */
/* } */

.fc-timegrid-event .fc-event-main {
	padding: var(--inner-padding);
	font-size: var(--event-font-size);
	color: #1a1a19;
}

.fc-timegrid-event-harness-inset {
	margin: var(--outer-margin);
  opacity: var(--event-opacity);
}

.fc-event-time,
.fc-event-title {
	text-align: var(--event-text-alignment);
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: none !important;
}
