:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #1a1a19;
	box-sizing: border-box;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--inner-padding: 0.2rem;
	--event-font-size: 1.25rem;
	--event-text-alignment: center;
	--event-opacity: 1;
	--calendar-width: 1280px;
}

.header h1 {
	font-weight: bold;
	background-color: #f5f05b;
	width: fit-content;
	padding: 3px;
	border-radius: 5px;
	text-transform: lowercase;
}

.buttons {
	display: flex;
	gap: 1rem;
}

.options-container {
	background-color: white;
	padding: 12px;
	border-radius: 5px;
}
.options-titles {
	display: flex;
	gap: 2px;
	border-bottom: 1px solid #ccc;
	color: #ccc;
}

.tabs {
	flex: 1;
}

.tabs:hover {
	cursor: pointer;
	color: #f5f05b;
	border-bottom: 2px solid #f5f05b;
}

.active-tabs {
	color: #f5f05b;
	border-bottom: 2px solid #f5f05b;
}

.actual-calendar {
	display: flex;
	gap: 1rem;
}

.time-labels {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 63px;
}

.time-label {
	position: relative;
	display: flex;
	height: 72px;
	align-items: center;
}

.time-label::before {
	content: '';
	position: absolute;
	left: 0;
	width: 98vw;
	height: 1px;
	background-color: #ccc;
	top: 0;
}

.time-label::before {
	top: 0;
}

.download-container {
	display: flex;
	justify-content: center;
}

.btn-primary {
	background-color: #f5f05b;
	width: fit-content;
	border: none;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 2px;
	text-transform: uppercase;
}

.options-download:hover {
	background-color: #f3ec32;
}

.options-toggle {
	display: flex;
	align-items: center;
}

.options-toggle label {
	margin-right: 10px;
}

.options-toggle input[type='checkbox'] {
	appearance: none;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background-color: #ccc;
	outline: none;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s;
}

.options-toggle input[type='checkbox']:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #f8f8fc;
	left: 2px;
	top: 1px;
	transition: transform 0.3s;
}

.options-toggle input[type='checkbox']:checked {
	background-color: #f5f05b;
}

.options-toggle input[type='checkbox']:checked:before {
	transform: translateX(24px);
}

@media only screen and (max-width: 695px) {
	#root {
		--event-font-size: 10px;
		padding: 0 !important;
	}
	.actual-calendar {
		gap: 0;
	}
	.time-labels {
		font-size: small;
	}
}
/*a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
